treatment {
    div.content {
        float: left;
        
        p {
            color: map-get($colors, 'secondary')
        }
    }
    div.favorite {
        float: right;

        ion-icon {
            font-size: 3rem;
        }
    }
    
}