<div class="content">
    <h4>{{ treatment.name }}</h4>
    <p color="secondary">
        {{ treatment.experiences }} Experiencias
    </p>
</div>
<div class="favorite">
    <button ion-button clear (click)="toggleFavorite(treatment)">
        <ion-icon *ngIf="treatment.favorite" name="star"></ion-icon>
        <ion-icon *ngIf="!treatment.favorite" name="star-outline"></ion-icon>
    </button>
</div>