<!--
  Generated template for the TreatmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div class="logo"></div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>{{title}}</h3>
</ion-content>

<ion-footer>
  <span>Multiestética</span> / <span>{{ title }}</span>
</ion-footer>