<!--
  Generated template for the TreatmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div class="logo"></div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page">
  <!-- treatments search -->
  <div class="t-row">
    <section class="search">
      <h3>{{ title }}</h3>
      <!-- search bar -->
      <ion-searchbar (ionInput)="onInut($event)" (ionCancel)="onCancel()"
        showCancelButton="true"
        autocomplete="on"
        animated="true"
        placeholder="¿Qué tratamiento te interesa?"
        class="header">
      </ion-searchbar>
  
      <!-- seach list -->
      <ion-list *ngIf="(filteredTreatments && filteredTreatments.length > 0) || searchValue">
        <div class="search-result">
            <ion-item *ngFor="let treatment of filteredTreatments">
                <treatment [data]="treatment"></treatment>
            </ion-item>
        </div>
      </ion-list>
    </section>
  
    <!-- Favorite treatments -->
    <section class="treatments">
      <h3>{{title}} favoritos</h3>
      <ion-list *ngIf="hasFavorites()" class="favorites">
        <ion-item *ngFor="let treatment of getFavoriteTreatments()">
            <ion-badge color="light">
              <img *ngIf="treatment.category == 'face-and-neck'" src="/assets/imgs/cara-y-cuello-13-rounded.png"/>
              <img *ngIf="treatment.category == 'body'" src="/assets/imgs/cuerpo-13-rounded.png"/>
              <span>{{ treatment.name }}</span>
              <button ion-button clear (click)="toggleFavorite(treatment)">
                  <ion-icon name="close" size="small"></ion-icon>
              </button>
            </ion-badge>
        </ion-item>
      </ion-list>
      <p *ngIf="!hasFavorites()">
        <span>No tienes ningún tratamiento favorito</span>
      </p>
    </section>
  </div>

  <div class="t-row">
    <section class="treatments">
      <!-- Face & neck treatment -->
      <ion-list *ngIf="faceAndNeckData && faceAndNeckData.length > 0" class="treatments">
        <!-- Header -->
        <ion-list-header (click)="toggleTreatment('faceAndNeck')">
            <ion-avatar item-start>
              <img src="/assets/imgs/cara-y-cuello-13-rounded.png"/>
            </ion-avatar>
            <h2>Cara y cuello</h2>
            <p>{{ faceAndNeckData.length }} Tratamientos</p>
        </ion-list-header>
        <ion-item *ngFor="let treatment of faceAndNeckData" [hidden]="showTreatment.faceAndNeck">
            <treatment [data]="treatment"></treatment>
        </ion-item>
      </ion-list>
    </section>

    <!-- Body treatment -->
    <section>
      <ion-list *ngIf="bodyData && bodyData.length > 0" class="treatments">
        <!-- Header -->
        <ion-list-header (click)="toggleTreatment('body')">
            <ion-avatar item-start>
              <img src="/assets/imgs/cuerpo-13-rounded.png"/>
            </ion-avatar>
            <h2>Cuerpo</h2>
            <p>{{ bodyData.length }} Tratamientos</p>
        </ion-list-header>
        <ion-item *ngFor="let treatment of bodyData" [hidden]="showTreatment.body">
          <treatment [data]="treatment"></treatment>
        </ion-item>
      </ion-list>
    </section>
  </div>
</ion-content>

<ion-footer class="content">
  <span>Multiestética</span> / <span>{{ title }}</span>
</ion-footer>