page-treatment {
    h3 {
        margin-top: 4rem;
        color: $text-color;
        font-weight: 200;
    }

    section.treatments {
        margin-top: 5rem;
    }

    ion-list {
        div.search-result {
            ion-item {
                background-color: transparent;
                padding-right: 16px;
            }
        }
    }

    ion-list.treatments {
        margin-bottom: 0;
        h2 {
            font-size: 2rem;
            color: map-get($colors, 'primary');
        }
        ion-list-header {
            margin-bottom: 0 !important;
            cursor: pointer;
        }
        ion-item {
            div.item-inner {
                border-bottom: none !important;
            }
        }
    }

    ion-list.favorites {
        ion-item {
            background: transparent !important;

            ion-badge {
                font-size: 1.7rem;
                font-weight: 200;
                padding: .8rem 1.5rem;
                color: $text-color;
                background-color: #ebebeb;
                border-radius: 2.5rem;
                line-height: 2rem;

                span {
                    margin-left: 2rem;
                    vertical-align: top;
                }

                img {
                    margin: -.8rem -1.5rem;
                    height: 4rem;
                    vertical-align: middle;
                }

                button {
                    height: 2rem;
                    color: #bbb;
                    vertical-align: top;
                }
            }
            div.item-inner {
                border-bottom: none !important;
            }
        }
    }

    @media (min-width: 1024px) {
        section {
            width: 45%;
            margin-right: 5%;
            float: left;
        }

        div.t-row {
            margin-top: 1.5rem;
            display: flex;
        }

        section.treatments {
            margin-top: .1rem;
        }
    }
}