// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$text-color: #666666;
$background-color: #F7F7F7;

/**
 * HEADER NAVBAR
 */
ion-header {
    ion-navbar {
        div.toolbar-background {
            background-color: #fff !important;
        }
        ion-title {
            div.logo {
                max-width: 55%;
                height: 4rem;
                background: url(/assets/imgs/logo_multiestetica_dkp.svg) no-repeat center;
                background-size: 80%;
            }
        }
    }
}

/**
 * LATERAL MENU
 */
ion-menu {
    ion-header {
        background-color: #fff;
        div.logo {
            width: 100%;
            height: 5.5rem;
            background: url(/assets/imgs/logo_multiestetica_dkp.svg) no-repeat center;
            background-size: 55%;
        }
    }
    ion-content {
        background-color: $background-color !important;
    }
    ion-label {
        color: $text-color !important;
    }
    ion-list {
        div.item-inner {
            border-bottom: none !important;
            line-height: 3rem;
        }
        button.item-md {
            background-color: $background-color !important;
        }
        button.active {
            border-right: 5px solid map-get($colors, 'primary');
        }
    }
}

/**
 * CONTENT
 */
ion-content {
    background-color:  map-get($colors, 'light') !important;

    div.scroll-content {
        margin-bottom: 56px !important;
    }
}

/**
 * FOOTER
 */
ion-footer.content {
    padding: 2rem 1rem;
    border: none;
    color: $text-color;
    font-size: 1.25 rem;

    span {
        padding: 0 .5rem;
    }
}
ion-footer.content.footer-md::before {
    top: auto;
    bottom: 0;
    height: 0;
}

@media (min-width: 1024px) {
    ion-header {
        ion-navbar {
           ion-title {
               div.logo {
                   max-width: 25%;
               }
            }
        }
    }
    ion-content.page {
        div.scroll-content {
            padding: 3rem 10rem !important;
        }
    }
}