<ion-menu [content]="content">
  <ion-header>
    <div class="logo"></div>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let page of pages" 
        (click)="openPage(page)"
        [ngClass]="page.active ? 'active' : null"
        color="text">
        {{page.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" [rootParams]="{ title: pages[1].title }" #content swipeBackEnabled="false"></ion-nav>